header.top-bar {
    width: 100%;
    min-width: 1000px;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-image: url("../images/DiWangDongXvn/DWDX2-MENU.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(203, 188, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    gap: 25px;
}

.main-nav a {
    text-decoration: none;
    color: rgb(92, 75, 58);
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}

.main-nav a.active {
    color: rgb(237, 235, 233);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
    font-family: "Noto Serif SC", "Source Han Serif SC", serif;
    overflow: auto;
}

.content-wrapper {
    position: relative;
    width: 100%;
    min-width: 1000px;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    background-image: url("../images/DiWangDongXvn/page_bg_1.webp");
    background-size: 100% 100%;
    background-position: center top;
    margin-top: 0px;
    height: auto;
    overflow: visible;
}

.interaction-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.side-content {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.left-side {
    margin-top: 8.9%;
    flex: 3 1 0%;
    padding-left: 0.5%;
}

.right-side {
    margin-top: 0.9%;
    margin-left: 0.5%;
    align-items: flex-end;
    flex: 4 1 0%;
}

.custom-btn {
    background: transparent;
    border: none;
    font-family: "Noto Serif SC", serif;
    font-size: clamp(16px, 1.5vw, 24px);
    font-weight: bold;
    color: rgb(92, 75, 58);
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 2%;
    outline: none;
    text-align: left;
}

.left-side .custom-btn {
    margin-left: 33%;
}

.right-side .custom-btn {
    margin-left: 25%;
    align-self: flex-start;
}

.text-box {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 0%;
    letter-spacing: 1.5px;
}

.text-box.active {
    opacity: 1;
    visibility: visible;
}

.text-box p {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1% 4% 2%;
    margin: 0px;
    color: rgb(70, 45, 6);
    font-size: clamp(16px, 1.1vw, 18px);
    line-height: 1.8;
    text-indent: 2em;
    border-radius: 0px;
    box-sizing: border-box;
}

.text-box p:first-child {
    border-radius: 15px 15px 0px 0px;
    padding-top: 3%;
}

.text-box p:last-child {
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 3%;
}

.left-side .text-box p {
    width: 85%;
}

.left-side .text-box p:nth-child(1) {
    margin-left: 0%;
}

.left-side .text-box p:nth-child(2) {
    padding-top: 1%;
}

.left-side .text-box p:nth-child(3) {
    padding-top: 1%;
    margin-top: 0px;
}

.right-side .text-box p {
    width: 90%;
    margin-right: 5%;
}

.right-side .text-box p:nth-child(1) {
    max-width: 30%;
    margin-left: 0%;
    padding-top: 1%;
    padding-bottom: 0%;
}

.right-side .text-box p:nth-child(2) {
    max-width: 100%;
    border-top-right-radius: 15px;
    padding-bottom: 1%;
}

.right-side .text-box p:nth-child(3) {
    max-width: 100%;
}

.next-page-btn {
    position: absolute;
    bottom: 2.7%;
    right: 9.8%;
    z-index: 10;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(92, 75, 58);
    font-size: 14px;
}
