header.top-bar {
    width: 100%;
    min-width: 1000px;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-image: url("../images/DiWangDongXvn/DWDX2-MENU.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(203, 188, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    gap: 25px;
}

.main-nav a {
    text-decoration: none;
    color: rgb(92, 75, 58);
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}

.main-nav a.active {
    color: rgb(237, 235, 233);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
    font-family: "Noto Serif SC", serif;
    overflow-x: hidden;
}

.content-wrapper {
    position: relative;
    width: 100%;
    min-width: 1000px;
    aspect-ratio: 16 / 9;
    background-image: url("../images/FengHuoSuiYue/page_bg_1.webp");
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: auto;
    overflow: hidden;
}

.text-container {
    position: absolute;
    top: 46%;
    left: 7%;
    width: 59%;
    max-width: 750px;
    z-index: 5;
}

.article-content p {
    font-size: clamp(12px, 1.35vw, 21px);
    color: rgb(70, 45, 6);
    line-height: 1.8;
    margin-bottom: 0%;
    text-align: justify;
    text-indent: 2em;
}

.next-page-btn {
    position: absolute;
    bottom: 2.5%;
    right: 35%;
    padding: 0.8% 2.5%;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(92, 75, 58);
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    transition: 0.3s;
    font-size: clamp(14px, 0.9vw, 18px);
    text-align: center;
    white-space: nowrap;
}

.next-page-btn:hover {
    background: rgb(92, 75, 58);
    color: rgb(255, 255, 255);
}
